@-moz-viewport {width: device-width; scale: 1; }
@-ms-viewport {width: device-width; scale: 1; }
@-o-viewport {width: device-width; scale: 1; }
@-webkit-viewport {width: device-width; scale: 1; }
@viewport {width: device-width; scale: 1; }

html {
  box-sizing: border-box;
  -moz-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%;
  -webkit-text-size-adjust: 100%;
  text-size-adjust: 100%;
  font-family: sans-serif;
  font-size: 100%;
  line-height: 1.3;
}
body {
  margin: 0;
}

header {
  display: block;
  background-color: grey;
  text-align: center;
}
h1 {
  margin: 0;
  text-align: center;
}

nav {
  width: auto;
}
a {
  display: inline-block;
  text-align: center;
}
figcaption {
  letter-spacing: normal;
}

.img-flex {
  width: 100%;
  display: block;
}
.gutter {
  padding-left: 1em;
  padding-right: 1em;
}

footer {
  background-color: lightgrey;
}
 .head {
   background-color: lightgrey;
   font-size: 1.3em;
   margin: 0;
   text-align: center;
   padding: 1em;
 }
h3 {
  padding: 1em;
}
@media only screen and (min-width: 38em) {



}
